

html,body{
  
 
font-family: Raleway, arial;
  
  }
#mytable{
  font-size: 1em;
  margin: auto;
}

.stockchanged{
  color: white !important;
}
footer{
  text-align: center;
  background-color: black;
margin-top: 2em;
  color: white;
}

.minus{
  font-weight: bold;
  padding: 5px;
  text-align: right;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.plus{
  font-weight: bold;
  padding: 5px;
  text-align: left;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.stockinput{
  text-align: center;
}

.card-img-top{
  width: 400px;
  height: 200px;
}